<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no maximum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%=data[0].title%></title>
  <link href="../stylesheets/normalize.css" rel="stylesheet">
  <link href="../stylesheets/newsContent.css" rel="stylesheet">
</head>
<body>
  <div class="wrapper">
    <h1><%=data[0].title%></h1>
    <p class="top_times"><%=data[0].src%><span><%=data[0].time%></span></p>
    <div class="content">
      <%-data[0].content%>
    </div>
  </div>
</body>
</html>
